body {
    color: #ffffff;
    background-color:#ffffff;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: 16px;
    margin: 0; /*selain luo automaattisesti pienen marginaalin*/
}
header{
    text-align: center;
    padding-top: 30px;
}
.logo img {
    height: 80px;   /* vaihda logon kokoa*/
    display: block;
    margin-left: 10px;   /* työntää logoa*/
    margin-top: -20px; 
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
}
.alisivu-sisalto {
    background-color: rgb(255, 248, 239);
    display:flex;
    justify-content: space-around;
    padding: 0px;
}

/* fontit yms */
h1, h2, h3, p, .esittely {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

h1 {
    font-size: 35px;
    color: rgba(178, 100, 10, 0.913);
    text-shadow: 2px 2px rgb(0, 97, 34);
    text-align: center;
    padding-top: 30px;
}
h2 {
    text-align: left;      /* Teksti vasempaan reunaan */
    width: 60%;            /* Vie 60 % tilasta */
    margin-left: 4%;     /* Keskittää leveydeltään 60 %:n alueen */
    margin-right: auto;   
    color: rgba(178, 100, 10, 0.913);
}
h3 {
    text-align: left;      /* Teksti vasempaan reunaan */
    width: 60%;            /* Vie 60 % tilasta */
    margin-left: 4%;     /* Keskittää leveydeltään 60 %:n alueen */
    margin-right: auto;    
    color: rgba(178, 100, 10, 0.913);
}
p {
    text-align: left;  /* Teksti vasempaan reunaan */
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 6%;    /* sirtää leipätekstin hiukan oikealle verrattuna otsikoihin, parantaa luettavuutta ja asettelua*/
    margin-right: auto; 
    color: rgb(8, 89, 51);
}

/*päävalikko*/

header nav {
    text-align: center;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

nav a {
    background:  rgb(8, 89, 51);
    font-family: otsikko, sans-serif;
    color:whitesmoke;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(8, 122, 14);
    width: 130px;
    text-align: center;
    
}
header nav a:hover {
    color:  rgb(8, 89, 51);
    background-color: whitesmoke;
}
#valittu {
    color: rgb(87, 54, 4);
    background-color:rgba(255, 235, 205, 0.6);
}

.toimintakehote {
    border: 2px solid rgb(87, 54, 4);
    border-radius: 10px;
    background-color: whitesmoke;
    font-family: otsikko, "sans serif";
    color: rgb(87, 54, 4);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
/*tehdään flexboxi etusivulle*/

.etusivulaatikko {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.etusivulaatikko .text {
  flex: 1; /* text expands */
}

.etusivulaatikko .etusivunsivukuva img {
  max-width: 300px; /* control image size */
  height: auto;
}


/*tehdään flexboxi varaussivulle*/
.boksi {
  display: flex;   
  align-items: flex-start; /* järjestää tekstin ja kuvan alkamaan samalta korkeudelta */
  gap: 30px;              /* tekstin ja kuvan etäisyys sivuttaissuunnassa */
}
/*muokataan kuva halutuksi*/
.side-image {
  margin-left: auto;
  margin-right: 60px;
  border: 4px solid rgb(87, 52, 6);
  border-radius: 8px;
  padding: 2px;
}
/*alatunniste, joka sivulla sama, liimataan sivun pohjaan kiinni*/
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; /* pushes footer to the bottom */
}
/*muokataan alatnniste halutuksi*/
footer {
    font-family: otsikko, "sans serif";
    font-size: 22px;
    color: rgba(87, 54, 4);
    background-color:  rgb(3, 84, 46);
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
footer a {
  color: #ffffff;          /* sama väri kuin footerin teksti */
  text-decoration: none;   /* poistaa alleviivauksen */
}

footer a:hover {
  text-decoration: underline; /* halutessa hover-efekti */
}


/*ALTA ALKAA SKAALAUS!*/



/*mobiilikoko*/
@media (max-width: 600px) {
    #Etusivu {
        background-image: url(kuvat/paakuva-kahvila-mobiili.jpg);
        background-size: cover;
        height: 400px;
    }
    nav a { 
        font-size: 15px;
        width: 100px;
        height: 20px;
        padding: 7px;
        margin: 3px 5px;
    }
    .logo img {
  height: 100px;
  display: block;
  margin-left: 10px;
  margin-top: 0; 
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo {
  margin-bottom: 10px; /* logon ja navin väliin tilaa*/
}

header nav {
  position: relative; /* lopettaa logon päällekkäisyyden*/
}
    #slogan {
        font-size: 30px;
        padding: 20px;
    }
    .toimintakehote {
        font-size: 18px;
    }
    .sisalto {
        margin: 3% 10% 3% 10%;
    }
    .alisivu-sisalto {
        margin: 3% 10% 3% 10%;
        flex-direction: column;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
        margin-left: 6%;
        margin-right: 4%;
        line-height: 1.4;
    }
    /*etusivun flexboksille*/
     .etusivulaatikko {
    flex-direction: column; /*kasaa päällekkäin*/
    text-align: center;
  }

  .etusivulaatikko .etusivunsivukuva img {
    max-width: 100%;
  }
  /*varaussivun flexboksille*/
    .boksi {
        display: flex;
        flex-direction: row; /*teksti vasemmalla kuva oikealla*/
        align-items: flex-start; /*laittaa kuvan alkmaan samalta riviltä kuin tekstin*/
        gap: 30px;
    }
    .side-image {   /*muokataan kuva halutuksi mobiilissa*/
        max-width: 45%;
        height: auto;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 100px;
        
        
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
}

/*tablettikoko*/
@media (min-width: 600px) and (max-width: 1199px) {
    #Etusivu {
        background-image: url(taustateti.jpeg);
        background-size: cover;
        height: 600px;
    }
    nav a { 
        font-size: 16px;
        width: 110px;
        height: 22px;
        padding: 8px;
        margin: 4px 6px;
    }

    #slogan {
        font-size: 40px;
        padding-top: 100px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .toimintakehote {
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 20px;
        margin-left: 6%;
        margin-right: 4%;
        line-height: 1.5;
    }
    .esittely {
        font-size: 20px;
    }

    .boksi {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }

    .side-image { /*muokataan kuva haluksi tablettikoossa*/
        max-width: 50%;
        height: auto;
        margin-left: auto; /* työtää kuvan oikealle*/
        margin-right: 0;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}
/*suuri näyttö*/
@media screen and (min-width: 1200px) {
    #Etusivu {
        background-image: url(taustateti.jpeg);
        background-size: cover;
        height: 950px;
    }
    #alisivut {
        background-image: url(kuvat/tausta.jpg);
    }
    nav a { 
        font-size: 20px;
        width: 130px;
        height: 25px;
        padding: 10px;
        margin: 5px 20px;
    }
    
    #slogan {
        font-size: 65px;
        padding-top: 150px;
        padding-bottom: 20px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .toimintakehote {
        font-size: 30px;
    }
    .sisalto {
        margin: 3% 15% 3% 15%;
    }
    .alisivu-sisalto {
        margin: 3% 15% 3% 15%;
        flex-direction: row;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 23px;
        margin-left: 6%;
        margin-right: 4%;
        line-height: 1.5;
    }
    .esittely {
        font-size: 25px;
    }
    .boksi {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }
    .side-image { /*muokataan kuva halutuksi desktopilla*/
        max-width: 600px;  /* määrittää kuvan koon suurelle ruudulle */
        height: auto;
        margin-left: auto;
        margin-right: 60px;
    }
    footer {
        flex-direction: row;
        text-align: left;
        bottom: 0;
        width: 100%;
        max-height: 15%;
    }
}